* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px black;
}

.Header,
.Footer {
  width: 100%;
  background-color: lightseagreen;
  padding: 1rem;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer {
  width: 100%;
  height: 2.5rem;
  margin-top: auto;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 60%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type='text'] {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

/* .Footer {
  padding: 0.75rem;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333;
  max-width: 800px;
  background-color: aqua;
} */

.Nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgrey;
}

.Nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  color: #fff;
}

.Nav li {
  margin: 0 10px;
}

.Nav a {
  color: black;
}

.Nav a:hover {
  color: red;
}

.Home,
.About {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.Home {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.Home .post {
  margin-bottom: 2rem;
}

.DeletePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.DeletePost > div {
  margin-bottom: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input[type='text'],
.form textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}

.form button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
